
.e-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
} 
.single-event-area {
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.single-event-area img {
    width: 100%;
}
.single-event-area .event-text {
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 30px 15px;
    background-color: #000;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.single-event-area .event-text h4 {
    color: #fff;
    text-transform: uppercase;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.single-event-area .event-text .event-meta-data {
    position: relative;
    margin-bottom: 30px;
}

.single-event-area .event-text .event-meta-data a {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    padding: 0 29px;
}

  .breadcumb-area {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 385px;
}

.breadcumb-area .bradcumbContent {
    position: absolute;
    background-color: #fff;
    width: 552px;
    height: 150px;
    top: 300px;
    left: 50%;
    z-index: 100;
    text-align: center;
    padding-top: 40px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); 
}

.see-more-btn a{
    text-decoration: none;
    color: black;
}

.see-more-btn:hover a {
    color: #fff;
}
    
.breadcumb-area .bradcumbContent h2 {
    font-size: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    line-height: 1;
}

.breadcumb-area .bradcumbContent p{
    font-size: 16px;
}
/* Spacing */
 
.mt-70 {
    margin-top: 70px !important;
}

  
  .mb-30 {
    margin-bottom: 30px !important;
}

  .padding-100 {
    padding: 100px 0 !important;
}
  
