.home{
  min-height: 100vh;
  display: flex;
  background: url(../img/pexels-photo-3391925.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .content{
  max-width: 60rem;

}
.home .content h3{
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}
.home .content p{
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee
}
.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}
